*.png
Angio_U72_bo_justert.png
Angio_U72_bo_ujustert.png
Angio_U72_sh.png
Angio_totalt_bo_justert.png
Angio_totalt_bo_ujustert.png
Angio_totalt_sh.png
BehSlagenhet_bo_justert.png
BehSlagenhet_sh.png
Brystbevarende_bo_justert.png
Brystbevarende_bo_ujustert.png
Brystbevarende_sh.png
HistologiskGrad(Nottingham)_bo_justert.png
HistologiskGrad(Nottingham)_bo_ujustert.png
HistologiskGrad(Nottingham)_sh.png
HofteOp24_bo.png
HofteOp24_sh.png
HofteOp48_bo.png
HofteOp48_sh.png
Hofte_operasjonsmetode_bo_ujustert.png
Hofte_operasjonsmetode_sh_ujustert.png
Hoftebrudd_produksjon_bo.png
Hoftebrudd_produksjon_sh.png
Hoftebrudd_rater_bo.png
Hofteproteser_rater_bo.png
Innbyggere2015aldkj.csv
Kneproteser_rater_bo.png
LenaJuster.R
Revaskularisering_bo_justert.png
Revaskularisering_sh.png
TestresultaterKi67_bo.png
TestresultaterKi67_bo_justert.png
TestresultaterKi67_sh.png
Trombolyse_bo_justert.png
Trombolyse_sh.png
gamleData
plotIndikatoR.R
